@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode{
  background-color: #121212;
  color: #fff;
}
body{
  color: #333;
  @apply bg-bgColor
}